<.flash_group flash={@flash} />
<MediansWeb.ChartComponent.chart stats={@stats} />
<h2>School</h2>
<table id="schools-table">
  <thead>
    <tr id="year-header"><.school_headers /></tr>
  </thead>
  <tbody>
    <.school_data year_data={@school.year_data} />
  </tbody>
</table>
