<.flash_group flash={@flash} />
<h2>School</h2>
<table id="schools-table">
  <thead>
    <tr id="year-header"><.school_headers/></tr>
  </thead>
  <tbody>
    <tr class="year-row"><td></td></tr>
  </tbody>
</table>
