In the year <%= @year_data.rank.year %>, <%= @school_name %>
<%= if rank = @year_data.rank do %>
  ranked <%= ordinal(rank) %>,
<% else %>
  was unranked,
<% end %>
and had a <%= translation(@column) %> of <%= Map.fetch!(@year_data, @column) %>.
