<.flash_group flash={@flash} />

<%= Phoenix.HTML.Form.form_for %{}, ~p"/schools/", [method: :get, id: "school-form"], fn _f -> %>
  <label for="school-select">Select your school</label>
  <select id="school-select" form="school-form" name="id">
    <.school_options schools={@schools} />
  </select>
  <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="school-submit" value="view info" />
<% end %>
