<.flash_group flash={@flash} />
<form id="school-form" action="school-info" method="get">
  <label for="school-select">Select your school</label>
  <select id="school-select" form="school-form">
    <option>Yale University</option>
  </select>
  <input type="submit" id="school-submit" value="view info"/>
</form>
