<.flash_group flash={@flash} />
<%= Phoenix.HTML.Form.form_for %{}, ~p"/schools/", [method: :get, id: "school-form"], fn f -> %>
  <label for="school-select">Select your school</label>
  <select id="school-select" form="school-form" name="school">
    <option value="1">Yale University</option>
  </select>
  <input type="submit" id="school-submit" value="view info" />
<% end %>
